body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'PT Sans';
    font-size: 18px;
}
.tiles {
    padding: 6vh 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.tile {
    margin: 15px;
    cursor: pointer;
    overflow: hidden;

    /*img {*/
    /*    width: 100%;*/
    /*    transition: transform 500ms ease;*/
    /*    &:hover {*/
    /*        transform: scale(1.1);*/
    /*    }*/
    /*}*/
}

/*.hoverTooltip {*/
/*    color: "white";*/
/*    height: "100%";*/
/*    left: "0";*/
/*    position: "absolute";*/
/*    top: "0";*/
/*    width: "100%";*/
/*    z-index: 2;*/
/*    transition: "background-color 350ms ease";*/
/*    background-color: "rgba(0,0,0,.5)";*/
/*    padding: "20px 20px 0 20px";*/
/*    box-sizing: "border-box";*/
/*    pointer-events: "none";*/

/*!*h3 {*!*/
/*!*    textTransform: "uppercase";*!*/
/*!*    fontSize: "60pt";*!*/
/*!*}*!*/

/*}*/

/*.hoverTooltip h3{*/
/*    text-transform: uppercase;*/
/*}*/

/*let tileStyle = {*/
/*width: '18vw',*/
/*height: '18vw',*/
/*[`:hover`] : {*/
/*               backgroundColor: "rgba(0,0,0,.5)"*/
/*           }*/
/*};*/